@import '_media-queries';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0;
}

.cdk-overlay-pane,
.mat-bottom-sheet-container {
  &.wide {
    @include xs {
      width: 95%;
      max-width: 95% !important;
    }
    @include sm {
      width: 80%;
    }
    @include md {
      width: 640px;
    }
    @include gt-md {
      width: 720px;
    }
  }
}

.mat-dialog-actions {
  justify-content: space-between;
}
