@import '_media-queries';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
}

.cdk-overlay-pane {
  &.wide {
    @include xs {
      width: 95%;
      max-width: 95% !important;
    }
    @include sm {
      width: 80%;
    }
    @include md {
      width: 640px;
    }
    @include gt-md {
      width: 720px;
    }
  }
}
